<template>
<div class="container bg">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Sign Up</h3>
			</div>
			<div class="card-body">
				<form action="#" @submit.prevent="onSubmit">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="email" v-model="credentials.email" v-on:keyup="removeErrors()"  class="form-control" placeholder="Email address" required>
						
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" v-on:keyup="removeErrors()" v-model="credentials.password" placeholder="Password" required>
					</div>
                    <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" v-on:keyup="removeErrors()" v-model="credentials.rePassword" placeholder="Confirm your password" required>
					</div>
                    <div class="alert alert-danger mt-2 mb-2" v-if="errors != null" role="alert">
                        {{ errors }}
                    </div>
					<div class="form-group">
						<input value="Submit" type="submit" class="btn float-right login_btn">
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					Do you have an account?<router-link to="/login">Sign In</router-link>
				</div>
			</div>
		</div>
	</div>
    <router-view/>
</div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  name: "registration",
    data() {
        return {
            credentials : {
                email: null,
                password: null,
                rePassword: null
            },
            errors : null,
        }
    },
  
    methods: {
        ...mapActions(["registerUser","loginUser"]),
            onSubmit(e){
                e.preventDefault();
                if(this.credentials.password === this.credentials.rePassword ){
                    this.registerUser(this.credentials)
                    .then(response => {
                        this.loginUser(this.credentials).then(response => {
                            this.$router.push({name : 'shops-nearby'})
                        });
                    }).catch (error => {
                        this.errors = "This email already exist";
                    });
                } else {
                    this.errors = "Your confirmation password is wrong";
                }
                
            },
            removeErrors(){
                this.errors = null;
            },
            redirectionIfLoggin(){
                if(this.getLoggedIn === true){
                    this.$router.push({name : 'shops-nearby'});
                }
            }
    },
  
    computed: mapGetters(['allCredentials','getLoggedIn']),
    created() {
        this.redirectionIfLoggin();
    }
}
</script>

<style  scoped lang="scss">
@import url('https://fonts.googleapis.com/css?family=Numans');


.container{
    align-content: center;
}

.card{
height: 100%;
margin-top: 70px;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}
.bg {
    background-image: url('../assets/authImage.jpg');
    height: -webkit-fill-available; 
    background-position: center;
    background-size: cover;
    font-family: 'Numans', sans-serif;
}
</style>
