<template>
    <div>
    <h3 class="mt-4">You will find below your prefered shops</h3>
        <div class="container">
            <div class="row">
                <div v-for="shop in allShopsPrefered" :key="shop.id" class="shop">
                    <div class="card card_size m-4 border-success">
                        <h5 class="card-header bg-transparent border-success">{{ shop.shopName }}</h5>
                        <div class="card-body">
                            <div class="row">
                                <img :src="srcImage(shop.id)" >
                            </div>
                        </div>
                        <div class="card-footer bg-transparent border-success icon_style"><i @click="deletePreferedShop(shop)" class="far fa-trash-alt fa-2x"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  name: "ShopsPrefered",
  
  methods: {
      ...mapActions(['fetchShopsPrefered', "deletePreferedShop"]),
      srcImage(shopId){
          return process.env.VUE_APP_LINK_API+"/images/"+shopId+".jpg";
      }
  },
  
  computed: mapGetters(['allShopsPrefered']),
  created() {
      this.fetchShopsPrefered();
  }
  
}
</script>

<style  scoped lang="scss">
img {
    display: block;
    max-width:340px;
    max-height:160px;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.card_size {
    display: block;
    width: 330px;
    height: 340px;
}
.icon_style {
    cursor: pointer;
    margin-left: auto;
    display: block;
    margin-right: auto;
    margin-top: 20px;
}
</style>

