<template>
  <div>
    <h3 class="mt-4">You will find below the shops near you</h3>
    <div class="container">
        <div class="row">
            <div v-for="shop in allShopsNearby" :key="shop.id" class="shop">
                <div class="card card_size m-4 border-success">
                    <h5 class="card-header bg-transparent border-success">{{ shop.shopName }}</h5>
                    <div class="card-body">
                        <div class="row">
                            <img :src="srcImage(shop.id)" >
                        </div>
                        <div class="row">
                            <div class="col-6 icon_style">
                                <i @click="likeShop(shop)" class="far fa-thumbs-up fa-2x"></i>
                            </div>
                            <div class="col-6 icon_style">
                                <i @click="dislikeShop(shop.id)" class="far fa-thumbs-down fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-transparent border-success"><b>Distance:</b> {{ shop.distance }} Km</div>
                </div>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  name: "ShopsNearby",
  
  methods: {
      ...mapActions(['fetchShopsNearby', "likeShop", "dislikeShop","fetchPosition"]),
      srcImage(shopId){
          return process.env.VUE_APP_LINK_API+"/images/"+shopId+".jpg";
      }
  },
  
  computed: mapGetters(['allShopsNearby','allCordinations']),
  created() {
        
        this.fetchShopsNearby();      
  },
  mounted: function() {
    
  },
  watch: {
        allCordinations() {
            this.fetchShopsNearby();
        }
    }
  
}
</script>

<style  scoped lang="scss">
img {
    display: block;
    max-width:340px;
    max-height:160px;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.card_size {
    display: block;
    width: 330px;
    height: 355px;
}
.icon_style {
    cursor: pointer;
    margin-left: auto;
    display: block;
    margin-right: auto;
    margin-top: 20px;
}
</style>
