<template>
<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item" :class="{ active: !activeNav }">
                <router-link class="nav-link" to="/shops-nearby">Nearby Shops <span class="sr-only">(current)</span></router-link>
            </li>
            <li class="nav-item" :class="{ active: activeNav }">
                <router-link class="nav-link" to="/shops-prefered">Prefered Shops <span class="sr-only">(current)</span></router-link>
            </li>
            </ul>
            <span class="navbar-text">
                  <button  @click="logout()" class="btn btn-outline-success">LOGOUT</button>
            </span>
            
        </div>
    </nav>
</div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: "NavBar",
  data() {
        return {
            activeNav : false,
        }
    },
    created() {
        this.activeNav = false;
    },
    methods: {
    ...mapActions(["logoutApp"]),
	   logout(){
            this.logoutApp().then(response => {
                this.$router.push({name : 'login'});
            }).catch(error => {
                this.$router.push({name : 'login'});
            });
        }
    },
    watch: {
        '$route' () {
            this.activeNav = this.$route.name === "shops-prefered" ? true : false;
        }
    }
    
    
}

</script>

<style>

</style>
