<template>
  <div id="shops">
      <Navbar v-if="getLoggedIn"/>
      <router-view/>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import Navbar from './components/NavBar.vue'

export default {
  name: "App",
  components: {
    Navbar,
  },
    methods: {
    ...mapActions([, "checkIfLoggedIn","fetchPosition"]),
    },
    computed: mapGetters(['getLoggedIn']),
    created() {
      this.$router.push({name : 'login'});
      console.log(this.$route);
      this.checkIfLoggedIn().then(response => {
        /* this.loggedIn = true; */
      })
      .catch(error => {
        if(this.$route.name !== "registration"){
          this.$router.push({name : 'login'});
        }
      });
      this.fetchPosition();
      
 
    }
    

}

</script>


<style>
#shops {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

</style>
